DirectoryIndex index.html
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule !\.\w+$ index.html [L]
    <filesMatch "index\.html$">
                Header set Cache-Control "no-cache"
    </filesMatch>
</IfModule>