    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-logo" ui-sref="home"><img src="/images/logo.png" class="img-responsive"  alt="" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" uib-collapse="$ctrl.isNavCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href=""></a>
                    </li>
                    <li class="page-scroll" ui-sref-active="active">
                        <a ui-sref="home" ng-click="$ctrl.isNavCollapsed = true">Home</a>
                    </li>
                    <li class="page-scroll" ui-sref-active="active">
                        <a ui-sref="about" ng-click="$ctrl.isNavCollapsed = true">About</a>
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="mainHeader">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{$ctrl.welcome}}</span>
                        <hr class="star-light">
                        <span class="skills">ES6 style <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
 Webpack <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
 Karma</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Content -->
	<section class="section-content">
		<ui-view />
	</section>

<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                    	<h3>Address</h3>
                        <p>Some address here</p>
                    </div>
                   
                    <div class="footer-col col-md-4">
                        <h3>Events</h3>
                        <p>Ipsum lorem <a href="#">Home</a>.</p>
                    </div>

                     <div class="footer-col col-md-4">
                        <h3></h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                         
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; My Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>